{% extends "partials/base.html" %}
{% block title %}Order Page {% endblock %}

{% block content%}
    {% include "partials/topnav.html" %}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <h4 class="col-md-8">Inbound Orders     <a class="btn btn-info btn-sm" href="{% url "main_page-inbound" %}">Add Inbound Order</a></h4>
            </div>
        </div>
    </div>

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Reference</th>
                            <th scope="col">Date Received</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Location</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inbound in inbounds %}
                        <tr>
                            <td>{{ inbound.reference }}</td>
                            <td>{{ inbound.date }}</td>
                            <td>{{ inbound.sku }}</td>
                            <td>{{ inbound.quantity }}</td>
                            <td>{{ inbound.location }}</td>
                            <td>{{ inbound.remarks }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <h4 class="col-md-8">Outbound Orders     <a class="btn btn-info btn-sm" href="{% url "main_page-outbound" %}">Add Outbound Order</a></h4>
            </div>
        </div>
    </div>

    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Reference</th>
                            <th scope="col">Date Shipped</th>
                            <th scope="col">SKU</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for outbound in outbounds %}
                        <tr>
                            <td>{{ outbound.reference }}</td>
                            <td>{{ outbound.date }}</td>
                            <td>{{ outbound.sku }}</td>
                            <td>{{ outbound.quantity }}</td>
                            <td>{{ outbound.destination }}</td>
                            <td>{{ outbound.remarks }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{%endblock %}